---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Pagination from '../../components/Pagination.astro';
import PostPreview from '../../components/PostPreview.astro';
import siteConfig from '../../data/site-config';
import { sortItemsByDateDesc } from '../../utils/data-utils';
import {
    NEURON_HREF,
    TALENTY_HREF,
    NTX_HREF,
    WROCLAW_HREF,
    PWR_HREF,
    GUT_HREF,
    HTC_2023,
    ZWIAZEK_MIAST_HREF,
    AIP_HREF,
    KACPER_GROBELNY_HREF,
    DAMIAN_SAWKO_HREF,
    MIKOLAJ_JASTRZEBSKI_HREF,
    WIKTOR_STANKIEWICZ_HREF
} from '../../strings';
import ProjectPreview from '../../components/ProjectPreview.astro';
import References from '../../components/References.astro';
import Border from '../../components/Border.astro';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const posts = (await getCollection('citified')).sort(sortItemsByDateDesc);
    return paginate(posts, { pageSize: siteConfig.postsPerPage || 4 });
}

type Props = { page: Page<CollectionEntry<'citified'>> };

const { page } = Astro.props;
const project = page.data;
---

<BaseLayout
    title="Citified"
    description=""
    image={{ src: '/citified-hack-the-climate.jpeg', alt: 'Image of members of Citified during Hack The Climate 2023' }}
    showHeader={false}
>
    <img src="/citified-hack-the-climate.jpeg" alt="Image of members of Citified during Hack The Climate 2023"
         class="w-full object-contain" />

    <p class="mb-10 italic">
        From the left: <a href={KACPER_GROBELNY_HREF}>Kacper Grobelny</a>, <a href={WIKTOR_STANKIEWICZ_HREF}>Wiktor
        Stankiewicz</a>, myself, <a href={DAMIAN_SAWKO_HREF}>Damian Sawko</a>, <a href={MIKOLAJ_JASTRZEBSKI_HREF}>Mikołaj
        Jastrzębski</a>.
    </p>

    <h1 class="text-3xl leading-tight font-serif font-medium sm:text-5xl sm:leading-tight">Citified</h1>
    <article class="mb-16 sm:mb-24">
        <div class="max-w-none prose prose-dante sm:prose-lg">
            <p>
                Through numerous conversations with city representatives, we identified a gap in communication between
                officials, investors, and residents. We aim to bridge this gap! Our mission is to create a comprehensive
                and user-friendly platform where citizens can voice their opinions and understand actions of the city
                authorities.
            </p>
            <h2>Our Achievements </h2>
            <p>
                We are proud winners of the prestigious Polish-Norwegian hackathon “Hack the Climate,” organized by the
                Polish Development Fund and Nordic Edge. This accolade underscores the quality and innovation of our
                solution. We are also proud to have secured 2nd place in the Grow Up Tech finale, a testament to our
                dedication and innovation.
            </p>

            <h2>Our Partnerships</h2>
            <p> In may 2024, we had a productive meeting with Ms. Agnieszka Jankowska, Chair of the Digitalization
                Council at the Ministry of Digital Affairs. She expressed great appreciation for our efforts and
                innovative projects, such as "MieszkamTu" and the Interactive Map of Bieruń, and pledged her support for
                our development.
                <br /><br />
                Until june, we have been collaborating with the city of Bieruń to develop
                and perfect our project, ensuring it meets the unique needs of the community.
            </p>

        </div>
    </article>

    <Border />
    {project.map((project) =>
        <ProjectPreview project={project} class="mb-10 sm:mb-12" href="citified" />)}

    <Border />
    <References>
        <a href={ZWIAZEK_MIAST_HREF}>Związek Miast Polskich about our Platform</a>
        <a href={AIP_HREF}>Akademicki Inkubator Przedsiębiorczości promotes Citified.</a>
        <a href={HTC_2023}>Nordic Edge article about us.</a>
        <a href={GUT_HREF}>2nd place at Grow Up Tech.</a>
    </References>


</BaseLayout>
